---
import ProjectLink from './ProjectLink.astro'
import TechPill from './TechPill.astro'

const { data } = Astro.props
const { tech, github, web } = data
---

<div
  class='lg:w-[80%] w-[90%] gap-y-5 flex flex-col relative bg-indigo-900/40 p-5 rounded-3xl shadow-lg shadow-indigo-900 border border-indigo-400'
>
  <div class='w-full h-full flex justify-between font-semibold'>
    <span>{data.id}.</span>
    <h2>{data.title}</h2>
  </div>
  <div class='flex flex-col gap-y-3'>
    <h3 class='font-semibold text-amber-300 text-xl'>{data.subtitle}</h3>
    <p class='font-semibold text-pretty tracking-wide text-violet-100'>
      {data.description}
    </p>
  </div>
  <div class='flex gap-3'>
    {
      tech.map((item) => (
        <TechPill>
          <item.icon class={`size-5 ${item.style}`} />
          <p class='font-bold text-violet-200 lg:text-lg text-xs '>
            {item.name}
          </p>
        </TechPill>
      ))
    }
  </div>
  <div class='w-full flex items-center justify-center'>
    <data.image class='border border-indigo-600' />
  </div>
  <ProjectLink github={github} web={web} />
</div>
<style>
  p {
    font-family: 'Quicksand';
  }
</style>
