---
import ProjectLink from './ProjectLink.astro'
import TechPill from './TechPill.astro'
import { Image } from 'astro:assets'

const { data } = Astro.props
const { tech, github, web, id, title, description, image } = data
---

<article
  class='sm:w-[30%] w-full font-text flex flex-col justify-between sm:px-7 px-5 py-4 min-h-[500px] bg-violet-900/20 backdrop-blur-[5px] backdrop-brightness-[.9] border border-indigo-500/10 shadow-2xl shadow-stone-900/60 rounded-xl'
>
  <div
    class='w-full flex justify-between items-center font-medium text-stone-200'
  >
    <span>{id}.</span>
    <h3>{title}</h3>
  </div>
  <picture class='flex justify-center'>
    <Image
      src={image}
      height='200'
      width='300'
      alt={title}
      loading='lazy'
      class='aspect-[7/4] w-[75%] h-auto image mt-2'
    />
  </picture>
  <div class='w-full flex justify-start sm:gap-x-3 gap-x-2'>
    {
      tech.map((item) => (
        <TechPill>
          <item.icon class={`${item.style} sm:size-6 size-4`} />
          <span class='sm:text-[0.9rem] text-sm'>{item.name}</span>
        </TechPill>
      ))
    }
  </div>
  <p
    class='max-w-[90%] text-pretty text-neutral-300 font-medium sm:text-[0.9rem] text-sm'
  >
    {description}
  </p>
  <ProjectLink github={github} web={web} />
</article>
<style>
  .image {
    filter: drop-shadow(0px 4px 6px rgba(28, 25, 23, 0.5));
  }
</style>
