---
import ProjectLink from './ProjectLink.astro'
import TechPill from './TechPill.astro'

const { data } = Astro.props
const { tech, github, web, id, title, subtitle, description, image, order } =
  data
---

<article
  class='lg:w-[40%] w-full flex flex-col bg-indigo-900/40 p-5 rounded-3xl shadow-lg shadow-indigo-900 border border-indigo-400'
>
  <!--  -->
  <div class='col-span-2 flex justify-between lg:text-xl text-base font-medium'>
    <span>{id}.</span>
    <h2>{title}</h2>
  </div>
  <!--  -->
  <div class={`flex flex-col`}>
    <h3 class='font-medium text-xl text-amber-300'>{subtitle}</h3>
    <p
      class='text-pretty lg:text-lg text-sm mt-3 text-neutral-200 tracking-wide font-parrafo font-semibold'
    >
      {description}
    </p>
    <div class='flex mt-5 gap-x-3'>
      {
        tech.map((item) => (
          <TechPill>
            <item.icon class={`size-5 ${item.style}`} />
            <span class='lg:font-semibold text-center text-neutral-200 tracking-wide lg:text-base text-xs'>
              {item.name}
            </span>
          </TechPill>
        ))
      }
    </div>
  </div>
  <!-- Image  -->
  <picture class='flex items-center justify-center mt-10'>
    <img src={image} alt='screenshot' class='aspect-auto' />
  </picture>
  <!-- footer  -->
  <ProjectLink github={github} web={web} />
</article>

<style>
  p {
    font-family: 'Quicksand';
  }
  article {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 200px;
      scale: 0;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
